*{margin:0px; padding:0px;}

body{
	background:url(../images/b.jpg)fixed;
}
h1{
	text-align:center;
}
.wrap{
	background-color:yellow;
	width:965px;
	height:700px;
	margin:10px auto;
	padding:10px;
	
}
.header{
	background-color:pink;
	 width:965px;
	 height:112px;
}
.content{
	background-color:green;
	width:965px; 
	height:500px;
}
.footer{
	background-color:white;
	width:965px;
	height:88px;
}
.left{
	background-color:#BAC7D8;
	width:200px;
	height:500px;
	float:left;
}
.middle{
	background-color:#C5D395;
	width:500px;
	height:500px;
	float:left;
}
.lim{
	background-color:#DF810D;
	width:150px; 
	height:200px; 
	float:left
	
}
.mim{
	background-color:gray;
	width:200px; 
	height:200px;
	float:left;
	
}
.rim{
	background-color:#DF810D;
	width:150px; 
	height:200px;
	float:left;
	
	
}
.right{
	background-color:#BAC7D8;
	width:265px;
	height:500px; 
	float:left;
}
