*{margin:0px; padding:0px;}

body{
	padding:10px;
	 background:url("../images/b.jpg")fixed;
}
.menubar{
	 width:900px;
	 height:50px;
	 margin:0 auto;
	 background:#52A014;
	
	 
 }
 ul.header_menu{
	 list-style:none;
 }
 ul.header_menu li{
	 float:left;
	 margin-right:10px;
	 
 }
 ul.header_menu li a {
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;
	padding:15px 51px;
	font-weight:bold;
	font-family:arial;
	display:block;
 }
  ul.header_menu li a:hover{
	  color:yellow;
	  background-color:#fff;
	  transition:2s;
	  border-radius:50px;
	  
	  
  }
  .dropdown{position:relative;}
ul.header_menu li.dropdown a:hover {
	border-radius:0px;
}
ul.drop{
	position:absolute;
	list-style:none;
	background:#52A014;
	width:200px;
	left:-999999px;
	box-shadow:0px 0px 10px 2px gray;
}
ul.drop li{
	
	float:none;
}

.dropdown:hover ul.drop{left:0px;}
.content{
	width:960px; 
	height:800px;
	background:rgba(255,255,255,0.6);
	margin:0 auto;
	box-shadow:0px 0px 50px 20px gray;
}